*{
    box-sizing: border-box;
}

body{
    margin:0;
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: #8c40ca;
    padding-bottom: 7em;
    min-height: 100vh;
    min-width: 550px;
    display: flex;
    flex-direction: column;
}

.hero{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

.carousel{
    padding: 0 20%;
    align-items: center;
    justify-content: center;
    margin: auto;
    animation-name: carousel;
    animation-duration: 3.5s;
}

@keyframes carousel{
    from {opacity: 0.1;}
    to {opacity: 1;}
}

.launch{
    animation-name: carousel;
    animation-duration: 1s;
}