footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    border-top: 1px solid black;
    padding-left: 20px;
}

ul li{
    list-style-type: none;
    text-align: right;
    padding: 0px 20px 0px 20px;
    text-decoration: underline;
} 

footer a{
    color: black;
    font-weight: bold;
}