header div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 0;
}

.h1-services{
    display: flex;
    justify-content: center;
    margin-top: 0;
}