nav{
    padding: 0 16px;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid black;
    height: 100px;
    font-style: italic;

    .nav-logotext{
        font-size: 40px;
        padding-right: 100px; 
        font-family: 'Ms Madi', sans-serif;
    }
    
    .nav-logotext{
        text-decoration: none;
        color: black;
    }
    
    ul li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    ul{
        list-style-type: none;
    }
    
    ul li{
        display: inline;
        padding: 8px;
    }
    
    ul li:hover{
        background-color: lavender;
        transition: border 1.2s;
    }
    
    .inicio-sesion{
        max-height: 3rem;
        padding-right: 25px;
    }
    
    div:nth-child(1){
        width: 50%;
    }
}


