.service-main{
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

main div{
    border: 1px solid black;
    width: 100%;
    max-width: 250px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    text-align: center;
}